.card-container-movie-to-watch{
  .card-container-items-movie-to-watch{
    padding-left: 10px;
    padding-top: 30px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    will-change: transform;
    position: relative;
  }
}
@media(min-width:321px){
  .card-container-movie-to-watch{
    min-height: 400px;
  }
  .card-container-items-movie-to-watch{
    height: 350px;
  }
}
@media(max-width:321px){
  .card-container-movie-to-watch{
    height: 250px;
  }
  .card-container-items-movie-to-watch{
    height: 250px;
  }
}